<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Specific url definition</title>
    <%- include('partials/_head') %>
  </head>

  <body>

    <%- include('partials/_header') %>
    <h3>ShortURL: <%= shortUrl %></h3>


    <p><%= shortUrl %> : <%= longUrl %></p>

    <form action='/urls' method='POST' style='margin:150px;'>
      <label for=longUrl'><h3>ShortURL: <%= shortUrl %></h3></label>
      <input id='longUrl' type='text' name='longUrl' placeholder='<%= longUrl %>' style='width:300px'>
      <input type='submit' value='Update'>
    </form>

  </body>

</html>