<!DOCTYPE html>
<html lang="en">

  <head>
    <title>TinyApp Urls currently in use</title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <div class="container">

      <%- include('partials/_header') %>

      <ul>
        <!-- I need to iterate over the info kept in the 'url database' -->

        <% for (url in urls) { %>
          <li><%= urls[url] %> : <%= url %><a href="/urls/<%= url %>" > Edit</a><%- include('partials/_deleteButton.ejs') %></li>
        <% } %>

      </ul>

      <p>Want to shorten your own url? Follow this link: <a href="/urls/new"><button type="button" class="btn btn-primary">Click Here</button></a></p>

    </div>
  </body>

</html>