<!DOCTYPE html>
<html lang="en">

  <head>
    <title>TinyApp Urls currently in use</title>
    <%- include('partials/_head') %>
    <%- include('partials/_styles') %>
  </head>

  <body>
    <div class="container">

      <%- include('partials/_header') %>

      <% if (logStat) { %>

        <ul>
          <!-- I need to iterate over the info kept in the 'url database' and only show an edit/delete button -->

          <% for (url in urls) { %>
            <li><a href="<%= urls[url] %>"><%= urls[url] %> : <%= url %></a><a href="/urls/<%= url %>" >   Edit</a><%- include('partials/_deleteButton.ejs') %></li>
          <% } %>


         </ul>

      <% } else { %>
      <h2>Hey, you should login or register!</h2>
      <form action='/register' method='GET'>
        <input type='submit' value='Register'>
      </form>
      <% } %>


      <p>Want to shorten your own url? Follow this link: <a href="/urls/new"><button type="button" class="btn btn-primary">Click Here</button></a></p>

    </div>
  </body>

</html>