<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Specific url definition</title>
    <%- include('partials/_head') %>
    <%- include('partials/_styles') %>
  </head>

  <body>

    <%- include('partials/_header') %>

    <form action='/urls/<%=shortUrl%>/update' method='POST' style='margin-left:150px;'>
      <label for=longUrl'><h2>ShortURL: <%= shortUrl %></h2></label>
      <input id='longUrl' type='text' name='longUrl' placeholder='<%= longUrl %>' style='width:300px; display:block'>
      <input type='submit' value='Update'>
    </form>

  </body>

</html>